<!-- Header -->
<header>
    <div class="container">
        <div class="intro-text">
            <div class="intro-lead-in">¡Bienvenido!</div>
            <div class="intro-heading">Sumiledsa</div>
            <a href="#services" class="page-scroll btn btn-xl">Muestrame</a>
        </div>
    </div>
</header>

<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Servicios</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-shopping-cart fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Venta y Comercialización</h4>
                <p class="text-muted">Materiales de construcción, luminaria, herramientas en general, generadores, refrigeración, telecomuncación y más...</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-object-group fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">Diseño</h4>
                <p class="text-muted">Proyectos de iluminación, proyectos decorativos, cálculos lumínicos, movimientos de tierras.</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <%= image_tag('icons/crane.png', style:"position: relative; top: -7px;  left: -7px")%>
                </span>
                <h4 class="service-heading">Construcción</h4>
                <p class="text-muted">Urbanismos, viviendas, alcantarillas y drenajes vial, mantenimiento de puentes, viaductos, diques,structuras metálicas o de concreto y más.</p>
            </div>
        </div>
    </div>
</section>

<!-- Portfolio Grid Section -->
<section id="highlights" class="bg-light-gray">
    <div id="product" class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Productos Destacados</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <% @products.each do |p| %>
              <div class="col-md-4 col-sm-6 portfolio-item">
                <a href="#<%=p.id%>" class="portfolio-link" data-toggle="modal">
                  <div class="portfolio-hover">
                    <div class="portfolio-hover-content">
                        <i class="fas fa-plus fa-3x"></i>
                    </div>
                  </div>
                  <img src="<%= p.images.first%>"class="img-responsive"/>
                </a>
                <div class="portfolio-caption">
                  <h4><%=p.name%></h4>
                  <!--<p class="text-muted">Graphic Design</p>-->
                </div>
              </div>
            <% end %>
        </div>
    </div>
</section>

<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">About</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <ul class="timeline">
                    <li>
                        <div class="timeline-image">
                          <%= image_tag "about/1.jpg", {class: "img-circle img-responsive"} %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>2009-2011</h4>
                                <h4 class="subheading">Our Humble Beginnings</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <%= image_tag "about/2.jpg", {class: "img-circle img-responsive"} %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>March 2011</h4>
                                <h4 class="subheading">An Agency is Born</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="timeline-image">
                          <%= image_tag "about/3.jpg", {class: "img-circle img-responsive"} %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>December 2012</h4>
                                <h4 class="subheading">Transition to Full Service</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                          <%= image_tag "about/4.jpg", {class: "img-circle img-responsive"} %>
                        </div>
                        <div class="timeline-panel">
                            <div class="timeline-heading">
                                <h4>July 2014</h4>
                                <h4 class="subheading">Phase Two Expansion</h4>
                            </div>
                            <div class="timeline-body">
                                <p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>
                            </div>
                        </div>
                    </li>
                    <li class="timeline-inverted">
                        <div class="timeline-image">
                            <h4>Be Part
                                <br>Of Our
                                <br>Story!</h4>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Team Section -->
<section id="team" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Our Amazing Team</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/1.jpg", {class: "img-responsive img-circle"} %>
                    <h4>Kay Garland</h4>
                    <p class="text-muted">Lead Designer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/2.jpg", {class: "img-responsive img-circle"} %>
                    <h4>Larry Parker</h4>
                    <p class="text-muted">Lead Marketer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                    <%= image_tag "team/3.jpg", {class: "img-responsive img-circle"} %>
                    <h4>Diana Pertersen</h4>
                    <p class="text-muted">Lead Developer</p>
                    <ul class="list-inline social-buttons">
                        <li><a href="#"><i class="fab fa-twitter"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a>
                        </li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.</p>
            </div>
        </div>
    </div>
</section>

<!-- Clients Aside -->
<aside class="clients">
    <div class="container">
        <div class="row">
        <!--
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <%= image_tag "logos/envato.jpg", {class: "img-responsive img-centered"} %>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <%= image_tag "logos/designmodo.jpg", {class: "img-responsive img-centered"} %>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <%= image_tag "logos/themeforest.jpg", {class: "img-responsive img-centered"} %>
                </a>
            </div>
            <div class="col-md-3 col-sm-6">
                <a href="#">
                    <%= image_tag "logos/creative-market.jpg", {class: "img-responsive img-centered"} %>
                </a>
            </div>
        -->
        </div>
    </div>
</aside>

<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Escríbenos</h2>
                <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
              <div id="response"></div>
              <%= form_for(@contact, method: "post", name: "sentMessage", remote: true, novalidate: "") do |f| %>
                <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                        <%=  f.text_field(:name, placeholder: "Tú Nombre*", required: true, "data-validation-required-message"=> "Por favor introduce tu nombre", class: "form-control") %>
                          <p class="help-block text-danger"></p>
                      </div>
                      <div class="form-group">
                        <%= f.email_field(:email, placeholder: "Tú Email*", required: true, "data-validation-required-message"=> "Por favor introduce tu email.", class: "form-control") %>
                        <p class="help-block text-danger"></p>
                      </div>
                      <div class="form-group">
                        <%= f.telephone_field(:phone, placeholder:"Tú Teléfono*", required: true, class: "form-control", "data-validation-required-message"=>"Por favor introduce tu número de teléfono") %>
                          <p class="help-block text-danger"></p>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                        <%= f.text_area(:message, placeholder: "Tu mensaje*", required: true, "data-validation-required-message"=> "Por favor introduce un mensaje.", class: "form-control") %>
                        <p class="help-block text-danger"></p>
                      </div>
                  </div>
                  <div class="clearfix"></div>
                  <div class="col-lg-12 text-center">
                      <div id="success"></div>
                      <%= f.submit "Enviar Mensaje", class: "btn btn-xl" %>
                  </div>
              </div>
            <% end %>
        </div>
    </div>
</section>
<% @products.each do |p| %>
  <%= render partial: "modal", locals: {product: p }%>
<%end%>